img{
  width: 100%;
}



div.secondary.callout.text-center{
  min-height: 242px;
}

div{
  border: 1px solid red;
}

h4, h5{
  color: #e01d3c;
}

h2{
  color: #e05d3c;
  text-decoration: underline;
}

.imagen{
  padding: 0px;
  
}
