
div.secondary.callout.text-center{
  min-height: 242px;
}

div{
  border: 1px solid none;
}

h4, h5{
  color: #e01d3c;
}

h2{
  color: #e05d3c;
  text-decoration: underline;
}

.imagen, li{
  padding: 0px !important;
  width: 100% !important;
  margin: 0px !important;
}

.principal{
  border: 1px solid #e01d3c;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

img{
  margin: 5px;
}

.contenedor{
  background-color: rgba(224,29,60,0.1);
}

body{
  background-image:url(../img/15.jpg);
  background-position:center top;
  background-repeat:no-repeat;
  background-attachment: fixed;
}
